<h1>Temperature</h1>
<p>The temperature in you current location of <%= @results[0].data["city"] %> (celcius) is <%=@temp_celsius%> degrees C.</p>
<p>The temperature in farenheit is <%=@temp_farenheit%> degrees F.</p>